<!DOCTYPE html>
{% load static %}
{% if request.user.is_admin %}
{% include "base_manager.html" %}
{% elif request.user.is_employee %}
{% include "base_employee.html" %}
{% else %}
{% include "base_user.html" %}
{% endif %}

<html>
<title>مرام پرداخت</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-61">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static 'blog/images/icons/favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index_w3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index_w3-theme-black.css' %}" />

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto","B Nazanin", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-right:250px" dir="rtl">

	<div class="w3-row w3-padding-large w3-padding-64 w3-container" dir="rtl">
		<h1 class="w3-text-teal">ثبت نام در آزمون TOEFL</h1><br>
		<div>
            {% block content %}

			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
				<form method="POST" action="user_service_toefl" class="post-form">{% csrf_token %}
					{{ form.as_p }}
					<button class="w3-button w3-hover-black w3-teal" type="submit" class="save btn btn-default">تایید اطلاعات</button>
				</form>
			        <br/><a class="w3-button w3-hover-black w3-teal" href="{% url 'user_service' %}">بازگشت</a>

			{% endblock %}
		</div>
	</div>


<!-- END MAIN -->
</div>
</body>
</html>
