
<!DOCTYPE html>
{% load static %}
{% if request.user.is_admin %}
{% include "base_manager.html" %}
{% elif request.user.is_employee %}
{% include "base_employee.html" %}
{% else %}
{% include "base_user.html" %}
{% endif %}

<html>
<title>مرام پرداخت</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-61">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static 'blog/images/icons/favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index_w3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index_w3-theme-black.css' %}" />

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto","B Nazanin", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-right:250px" dir="rtl">

	<div class="w3-row w3-padding-large w3-padding-64 w3-container" dir="rtl">
		<h1 class="w3-text-teal">تبديل بين کيف پول ها</h1><br>
		<div>
		<form method="post" action="user_change">
			{% csrf_token %}
			<p>تبدیل از</p>
			<select id="from" name = "from" >
				<OPTION Value="rial">ریال</OPTION>
				<OPTION Value="dollar">دلار</OPTION>
				<OPTION Value="euro">یورو</OPTION>
			</select>
			<p>به</p>
			<select id="to" name="to">
				<OPTION Value="rial">ریال</OPTION>
				<OPTION Value="dollar">دلار</OPTION>
				<OPTION Value="euro">یورو</OPTION>
			</select>
			<p>مبلغ ورودي:</p>
			<input id="amount-from" name="amount-from" type="text" value=""/>

            <input type="hidden"  name="dollar" value={{ dollar.قیمت }} >
            <input type="hidden"  name="euro" value={{ euro.قیمت }} >

			<input class="w3-button w3-hover-black w3-teal" id="change" type="submit" value="تبدیل"/>
		</form>
		<ul class="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		</div>

	</div>


<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}

</script>
</body>
</html>
